*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
:root{
    /* Background Colors */
 --bg-primary-color: #181818;
 /* Text Colors */
 --text-primary-color : rgb(236, 233, 233);
 /* Spaceing variables */
 --space-xs:4px;
 --space-sm:8px;
 --space-md:16px;
 --space-lg:24px;
 --space-xl:32px;
 --space-2xl:40px;
 --space-3xl:48px; 
}
html,body{
    height: 100%;
    width: 100%;
}
html{
    background: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main,section {
    width: 100%;
    height: 100%;
}
section{
    padding: var(--space-2xl) ;
}
section .infos{
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
}